/* produtos */
.prod{
  display: flex;
  justify-content: center;
  align-items: center;
}
.produtos{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  list-style: none;
  width: 100%;
  max-width: 300px;
  margin: 25px;
  padding-bottom: 20px;
}
.produtos img{
  width: 300px;
  height: 300px;
  border-radius: 15px 15px 0px 0px;
}
.titulo{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.descricao{
  font-size: 10px; 
  text-align: justify;
  margin: 12px;
}
.link-produtos{
  border-bottom: solid 1px #000;
  margin: 10px;
  color: #000;
  font-size: 12px;
  font-style: italic;
  transform: .2s;
}
.link-produtos:hover{
  transform: scale(1.1);
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
@media only screen and (max-width: 1046px){
  .produtos{
    
    max-width: 200px;
    
  }
  .produtos img{
    width: 200px;
    height: 200px;
    
  }
}
@media only screen and (max-width: 784px){
  .prod{
    display: flex;
    flex-wrap: wrap;
  }
}
 /* sobre */
 .sobre-trabalho{
  display: flex;
  background-color: #E6DFD2;
  padding: 30px;
  justify-content: center;
  align-items: center;
 }
 .sobre-trabalho img{
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
 }
.list{
  display: flex;
}
.list i {
  margin-right: 5px;
}
.saiba-mais{
  background-color: #B2905D;
  color: #fff;
  padding: 7px;
}
.saiba-mais:hover{
  text-decoration: none;
  background-color: #715935;
  color: #fff;
}

@media only screen and (max-width: 600px){
    .sobre-trabalho{
      display: block;
    } 
}

/* avaliacoes */
.avaliacao{
  background-color: #F5F5F5;
  width: 100%;
  height: 550px;
}
.container-avaliacao{
  margin: 0px auto;
  text-align: start;
  background-color: #EEEEEE;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0px 0px 50px 0px;
}
.nome-pessoa{
  text-align: start;
  font-size: 20px;
}
.data{
  color: #A19581;
  font-weight: 600;
  text-align: start;
}
.comentario{
  text-align: justify;

}
.flecha{
  font-size: 20px;
  margin-left: 500px;
  cursor: pointer;
}
.avaliacao-link{
  border-radius: 30px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
}
.link{
  color: #000;

}
.link:hover{
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 626px){
    
  .container-avaliacao{        
      max-width: 400px;
             
  }
  .flecha{
    
    margin-left: 300px;
   
   }
  
}
@media only screen and (max-width: 419px){
  
  .container-avaliacao{        
      max-width: 290px;
             
  }
  .flecha{
    margin-left: 180px;
   
   }   
}