/* inicio */
.inicio-sobre{
  background-image: url('../../assets/fundo1.jpg');
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

/* sobre */
.sobre-mim{
  display: flex;
  background-color: #fff;
  padding: 30px;
  justify-content: center;
  align-items: center;
 }
 .sobre-mim img{
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
 }

/* livro */
.livro{
  display: flex;
  background-color: #E6DFD2;
}
.livro img{
  width: 200px;
  margin: 10px;
}
.descr-livro{
  margin: 30px;
  text-align: justify;
}

/* meus cursos */
.meuscursos{
    background-color: #6B6969;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.meuscursos a{
    color: #fff;
    font-size: 25px;
}
h3{
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .meuscursos{
    max-width: 300px;
    padding: 20px;
  }
  
}

